.vscode/settings.json
kernel/..module-common.o.cmd
kernel/.module-common.o
kernel/.Module.symvers.cmd
kernel/.modules.order.cmd
kernel/.nxp_simtemp.ko.cmd
kernel/.nxp_simtemp.mod.cmd
kernel/.nxp_simtemp.mod.o.cmd
kernel/.nxp_simtemp.o.cmd
kernel/Module.symvers
kernel/modules.order
kernel/nxp_simtemp.ko
kernel/nxp_simtemp.mod
kernel/nxp_simtemp.mod.c
kernel/nxp_simtemp.mod.o
kernel/nxp_simtemp.o
kernel/nxp-simtemp.dtbo
user/cli/simtemp_cli
